# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
media/

# Environment Variables
.env

# VS Code
.vscode/

# Build Files
dist/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db